@font-face {
    font-family: Roboto Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto Black;
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto Condensed;
    src: url('../fonts/Roboto-Condensed.ttf');
}

@font-face {
    font-family: Roboto Thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: Roboto Light;
    src: url('../fonts/Roboto-Light.ttf');
}

* {
    border-radius: 0 !important;
}

body {
    background-color: #ecf0f1;
    color: #7f8c8d;
    font-family: "Roboto Regular";
}

.topmost {
    background-color: #ecf0f1;
}

.site-branding {
    margin-top: 15px;
}

.user-text {
    margin-top: 20px;
}

.head-social {
    height: 40px;
}

.social-a {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.navbar-inverse { background-color: #2980b9}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #2980b9}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #325571}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #428BCA}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #2c3e50; border: none !important; border-top: 5px solid #2c3e50 !important;}
.navbar-inverse .navbar-brand { color: #4FC1E9}
.navbar-inverse .navbar-brand:hover { color: #4FC1E9}
.navbar-inverse .navbar-nav>li>a { color: #ecf0f1; font-weight: bold; font-size: 1.1em;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #4FC1E9}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #4FC1E9}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.menu-btn {
    height: 20px;
}

.dashed {
    border-top: 3px solid;
    border-color: #7f8c8d;
}

.dashed-bottom {
    border-bottom: 1px solid;
    border-color: #3498db;
}

.presentation-area {
    padding-top: 50px;
}

.presentation-box {
    margin-top: 15px;
    padding-top: 200px;
    background-color: #7f8c8d;
    height: 480px;
}

.presentation-box > h1 {
    color: #ffffff;
}

footer {
    background-color: #40586f;
    border-top: 7px solid;
    border-color: #2980b9;
    padding: 30px 0 30px 0;
}

.footer-nav h4 {
    color: #ecf0f1;
    font-weight: 600;
}

.footer-nav ul li a, .about-us p {
    color: #ecf0f1;
    font-size: .9em;
}

.dashed-left {
    border-left: 1px solid #2980b9;
}

.dashed-right {
    border-right: 1px solid #2980b9;
}

.about-us {
    color: #ecf0f1;
}

.second-footer {
    background: #2c3e50;
    padding-top: 15px;
}

.second-footer p {
    margin: 0;
    font-size: .9em;
    margin-bottom: 15px;
}

.butter-logo {
    height: 100px;
}

.about-us h4 {
    font-weight: bold;
}

.dev-team h3, .dev-team h5{
    margin: 0;
    color: #ecf0f1;
    font-weight: bold;
}

.dev-team h5 {
    margin-top: 35px;
}

.dev-team {
    margin-left: 30px;
}

.sfooter-links li a {
    color: #ecf0f1;
    font-family: "Roboto Black";
    font-size: .9em;
}

.sfooter-links {
    margin-bottom: 1px;
}

.reg-left {
    background: #34495e;
    padding-top: 50px;
    padding-bottom: 200px;
}

.reg-right {
    background: #2c3e50;
    padding-top: 50px;
    padding-bottom: 200px;
}

.navbar {
    margin-bottom: 0;
}

.content {
    padding-bottom: 40px;
    padding-top: 20px;
}

.reg-content {
    color: #ecf0f1;
}

.dont-have-key {
    font-family: "Roboto Thin";
}

.dont-have-key-sub {
    font-family: "Roboto Light";
}

.no-key {
    padding-bottom: 175px;
}

.log-slider {
    float: left;
    height: 100%;
    padding-top: 94px;
    padding-left: 20px;
    padding-right: 20px;
}

.log-slider {
    width:25%;
    z-index:2;
    position:fixed;
    right:-1000px;
    background:#34495e;
    color:#000;
    color: #ecf0f1;
}

.clear {
    clear:both;
}

.login-text {
    font-family: "Roboto Thin";
    color: ecf0f1;
    margin: 0;
    padding: 0;
}

.slide-menu-burger {
    margin-top: 10px;
}

.login-url {
    color: #ecf0f1;
    font-family: "Roboto Light";
}

.login-url:hover {
    color: #fff;
}